.search-flight-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    transition: all 0.4s ease;
}

.title {
    font-weight: 300;
    font-size: 5em;
    margin-bottom: 20px;
}

.search-fligths {
    height: 5em;
    display: flex;
    &__input {
        width: 80%;
        height: 100%;
        padding: 20px;
        border: none;
    }
    &__btn {
        height: 100%;
        width: 15vw;
        border-radius: 0px 100px 0px 0px;
        border: none;
        background-color: navy;
        color: white;
        transition: all 0.4s ease;
        font-weight: 600;
        font-size: 30px;
        padding-right: 35px;
        cursor: pointer;
        &:hover {
            border-radius: 0px 50px 0px 0px;
        }
    }
}

.search-icon {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    font-size: 45px;
}